body {
 
    background-color:#f07A1A!important;

}


.chart {
   
 width: 100vw;
 height: 100vw;
 padding-left:4.5vw;
}

.ac-chart{

     margin-top: 9px;
}


.ac-tooltip{

    position:absolute; 
    z-index:999999999;

}

svg > g > g path {
    stroke:#ffffff;
    stroke-width:6px;
}


body .pane, body .view , .menu-content  .bar-positive {
    background-color:#f07A1A !important;
    border-color: #f07A1A !important;

}

.personal-ac-legend .ac-legend > div{

    color: #fff;
    display: inline-block;
    font-size: 21px;
    margin: 3px 3px 0 0;
    padding: 5px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: auto;


}





.menu .bar-header,.menu .scroll-content , menu .scroll-content div , .item {

    background-color:#F0E9DF !important;
    color:#f07A1A !important;

}

.bar.bar-royal{

    border-color:#F0E9DF !important;

}
 
 

#rotate{

  border: medium none;
    border-radius: 5px;
    box-shadow: 1px 4px #000, -2px -2px #c2c2c2 inset;
    font-size: 21px;
    font-weight: bolder;
    height: 8.3vh;
    line-height: 8.3vh;
    margin: 0 auto;
    width: 35vw;
}